@import url("https://fonts.googleapis.com/css?family=Open+Sans");

.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.main {
  max-width: 900px;
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.stepper {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.descContainer {
  margin-left: 15px;
  margin-top: 10px;
  margin-bottom: 25px;
  display: flex;
}

div.desc {
  text-transform: uppercase;
  width: 175px;
  text-align: center;
  font-family: "Open Sans";
  font-weight: bold 600;
  font-size: 16;
  color: #000;
}

.center {
  text-align: center;
}

.formHeader {
  width: 100%;
  text-transform: uppercase;
  text-align: center;
  font-family: "Open Sans";
  font-weight: 600;
  font-size: 21;
  color: #000;
  background-color: #c5dcfa;
}

.formDesc {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
  text-align: center;
  font-family: "Open Sans";
  font-weight: 600;
  font-size: 16;
  color: #000;
}

.formCore {
  display: flex;
  justify-content: space-between;
  margin-right: 100px;
  margin-left: 100px;
}

.form1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}

.form1 label {
  display: block;
  font-family: "Open Sans";
  font-weight: 600;
  font-size: 16;
  color: #c7c7c7;
  text-transform: uppercase;
}
.form1 p {
  margin: 0;
}

.form1 input[type="text"], .form1 input[type="password"] {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 12px;
  resize: vertical;
}

.submitBtn {
  margin-top: 20px;
  margin-right: 100px;
  display: flex;
  justify-content: flex-end;
}

.button {
  display: flex;
  height: 50px;
  padding: 0;
  background: #c5dcfa;
  border: none;
  outline: none;
  border-radius: 10px;
  overflow: hidden;
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}

.button:hover {
  background: #b1d1fa;
}

.button:active {
  background: #c5dcfa;
}

.button__text,
.button__icon {
  text-transform: uppercase;
  display: inline-flex;
  align-items: center;
  padding: 0 15px;
  color: #0a3977;
  height: 100%;
}

.button__icon {
  font-size: 1.5em;
}
